<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
  <link
          href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65"
          crossorigin="anonymous"
  />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link th:href="@{/css/index.css}" rel="stylesheet" />
</head>
<body>
<div class="container bg-white">
  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">PharmacyOWP</a>
      <button
              class="navbar-toggler"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent"
              aria-expanded="false"
              aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" th:text="#{nav.home}" th:href="@{/}" href="#"></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" th:text="#{nav.medicines}"></a>
          </li>
          <li class="nav-item" th:if="${session.account == null}">
            <a class="nav-link" href="#" th:href="@{/login}" th:text="#{nav.login}"></a>
          </li>
          <li class="nav-item" th:if="${session.account == null}">
            <a class="nav-link" href="#" th:href="@{/register}" th:text="#{nav.register}"></a>
          </li>
          <li class="nav-item" th:if="${session.account}">
            <a class="nav-link" th:text="#{nav.profile}"></a>
          </li>
          <li class="nav-item" th:if="${session.account != null && session.admin != null}">
            <a th:href="@{/}" class="nav-link" th:text="#{nav.admin}"></a>
          </li>
          <li class="nav-item" th:if="${session.account}">
            <a th:href="@{/logout}" class="nav-link" th:text="#{nav.logout}"></a>
          </li>

        </ul>
        <div class="d-flex">
          <a class="btn" th:href="@{/wish-list}">
            <i class="fa-sharp fa-solid fa-heart"></i>
          </a>
          <a class="btn" th:href="@{/loyalty-card}">
            <i class="fa-regular fa-id-card"></i>
          </a>
          <a class="btn" th:href="@{/shopping-history}">
            <i class="fa fa-history" aria-hidden="true"></i>
          </a>
          <a th:href="@{/cart}" class="btn">
            <i class="fa-solid fa-cart-shopping"></i>
          </a>
          <div
                  class="btn dropdown d-flex justify-content-center align-items-center"
          >
            <a
                    class="nav-link dropdown-toggle"
                    href="#"
                    role="button"
                    data-bs-toggle="dropdown"
                    aria-expanded="false"
            >
              <i class="fa-solid fa-language"></i>
            </a>
            <ul class="dropdown-menu">
              <li>
                <a class="dropdown-item" th:href="@{'/?lang=sr'}"
                ><i class="fa-sharp fa-solid fa-globe"></i> SRB</a
                >
              </li>
              <li>
                <a class="dropdown-item" href="#"
                ><i class="fa-sharp fa-solid fa-globe"></i> ENG</a
                >
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </nav>

  <section class="h-100 h-custom">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12">
          <div
                  class="card card-registration card-registration-2"
                  style="border-radius: 15px"
          >
            <div class="card-body p-0">
              <div class="row g-0">
                <div class="col-lg-8">
                  <div class="p-5">
                    <div
                            class="d-flex justify-content-between align-items-center mb-5"
                    >
                      <h1 class="fw-bold mb-0 text-black">Shopping Cart</h1>
                      <h6 class="mb-0 text-muted" th:text="${items.size() + ' items'}"></h6>
                    </div>
                    <div class="col-12" th:each="item : ${items}">
                      <hr class="my-4" />

                      <div
                              class="row mb-4 d-flex justify-content-between align-items-center"
                      >
                        <div class="col-md-2 col-lg-2 col-xl-2">
                          <img  th:src="'http://localhost:8080/uploads/images?imageName='+ ${item.getMedicine().getPicture()}"
                                  class="img-fluid rounded-3"
                                  alt="Cotton T-shirt"
                          />
                        </div>
                        <div class="col-md-3 col-lg-3 col-xl-3">
                          <h6 class="text-muted" th:text="${item.getMedicine().getCategory().getTitle()}"></h6>
                          <h6 class="text-black mb-0" th:text="${item.getMedicine().getTitle()}"></h6>
                        </div>
                        <div class="col-md-3 col-lg-3 col-xl-2 d-flex">
                          <button
                                  class="btn btn-link px-2 btn-lower-quantity"
                          >
                            <i class="fas fa-minus"></i>
                          </button>

                          <input
                                  id="form1"
                                  min="1"
                                  th:min="1"
                                  name="quantity"
                                  th:value="${item.getQuantity()}"
                                  type="number"
                                  class="w-50 item-input"
                                  th:attr="data-medicine_id=${item.getMedicine().getId()}"
                          />

                          <button
                                  class="btn btn-link px-2 btn-raise-quantity"
                          >
                            <i class="fas fa-plus"></i>
                          </button>
                        </div>
                        <div class="col-md-3 col-lg-2 col-xl-2 offset-lg-1">
                          <h6 class="mb-0" th:text="${item.getMedicine().getPrice()}"></h6>
                        </div>
                        <div class="col-md-1 col-lg-1 col-xl-1 text-end">
                          <form action="/cart/delete" method="post">
                            <input type="hidden" name="medicineID" th:value="${item.getMedicine().getId()}">
                            <button type="submit" class="btn"
                            ><i class="fas fa-times"></i
                            ></button>
                          </form>
                        </div>
                      </div>

                      <hr class="my-4" />
                    </div>
                  </div>
                </div>
                <div class="col-lg-4 bg-grey">
                  <div class="p-5">
                    <h3 class="fw-bold mb-5 mt-2 pt-1">Summary</h3>
                    <hr class="my-4" />

                    <div class="d-flex justify-content-between mb-4">
                      <h5 class="text-uppercase" th:text="${items.size()} + ' items'"></h5>
                      <h5 class="total-price" th:text="${shoppingCart.getTotalPrice()}"></h5>
                    </div>


                    <h5 class="text-uppercase mb-3">Loyalty Card Points</h5>

                    <div class="mb-5">
                      <div class="form-outline" th:if="${(session.user != null && session.user.getLoyaltyCard() != null) && activeDiscount != true}">
                        <input
                                type="number"
                                id="loyaltyCardInput"
                                class="form-control form-control-lg"
                                max="10"
                        />
                        <label class="form-label" for="loyaltyCardInput"
                        >Enter your points (max 10)</label
                        >
                      </div>
                      <p th:unless="${activeDiscount != true}">There is active discount, so you can't use loyalty card!</p>
                    </div>

                    <hr class="my-4" />

                    <div class="d-flex justify-content-between mb-5">
                      <h5 class="text-uppercase">Total price</h5>
                      <h5 class="total-price" th:text="${shoppingCart.getTotalPrice()}"></h5>
                    </div>

                    <button
                            type="button"
                            class="btn btn-dark btn-block btn-lg btn-checkout"
                            data-mdb-ripple-color="dark"
                    >
                      Check out
                    </button>
                  </div>
                </div>
              </div>
              </div>
          </div>
        </div>
      </div>
      </div>
 </section>
<script type="text/javascript" th:src="@{/js/global.js}"></script>
  <script type="text/javascript" th:src="@{/js/shoppingCart.js}"></script>

</body>
</html>
