/*
    boje:
    plava: #05386B
    tamnozelena: #379683
    svetlozelena: #5CDB95
    bledozelena: #8EE4AF
    siva: #EDF5E1
*/

/*
    body
*/

root {
    --var-gray: #edf5e1;
    --var-blue: #05386b;
    --var-dark-green: #379683;
    --var-green: #5cdb95;
    --var-light-green: #8ee4af;
}

body {
    background-color: var(--var-gray);
}

.color-primary {
    color: #5cdb95 !important;
}

.color-white {
    color: #fff;
}
/* topbar */

.topbar {
    background-color: #379683;
}

body {
    background-color: #05386b;
}

.register-hero {
    display: flex;
    height: 90vh;
    width: 90%;
    justify-content: center;
    padding: 20px 0;
    align-items: center;
}

.screen-height-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
